<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.food.aamakohaat">

    <!-- Add location permissions -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Permission to read external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permission to write external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permission to access the camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AamaKoHaat"
        tools:targetApi="31">

        <activity
            android:name=".chef_activity.DishDetailActivity"
            android:exported="false" />

        <activity
            android:name=".login.ForgotPassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- Other activity attributes -->
        </activity>

        <activity
            android:name=".login.VerifyPhone"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".customer_activity.InboxActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chef_activity.ChefMainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- ChefHomeFragment should not be defined here -->
        </activity>

        <service
            android:name=".internet.NetworkMonitorService"
            android:exported="false" />

        <activity
            android:name=".customer_activity.CardDetailsActivity"
            android:label="Card Details"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".internet.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
